name: Test

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 6 * * *'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-12
          - macos-latest
          - windows-latest
          - ubuntu-latest
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - 'pypy-3.8'
          - 'pypy-3.9'
          - 'pypy-3.10'
        toxenv: [py]
        exclude:
          # No older Pythons on arm64 macos-latest
          - python-version: '3.7'
            os: macos-latest
          - python-version: '3.8'
            os: macos-latest
          - python-version: '3.9'
            os: macos-latest
          - python-version: 'pypy-3.8'
            os: macos-latest
          - python-version: 'pypy-3.9'
            os: macos-latest
        include:
          - python-version: '3.7'
            toxenv: lint
            os: ubuntu-latest
          - python-version: '3.7'
            toxenv: typing
            os: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade --upgrade-strategy=eager tox

      - name: Run tests
        if: matrix.toxenv == 'py'
        run: ./run-tests.sh -e py -- -vv --ci --cov-report=xml
        env:
          GITHUB_TOKEN: ${{ secrets.GH_DOWNLOAD_TOKEN }}

      - name: Run generic tests
        if: matrix.toxenv != 'py'
        run: tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        if: matrix.toxenv == 'py'
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
          name: ${{ matrix.python-version }}

# vim:set et sts=2:
